@font-face {
  font-family: 'AppleGothic';
  src:url('../../assets/fonts/appleSDGothicNeo/woff/AppleSDGothicNeoUL.woff') format('woff');
  font-weight: 100;
  font-display: block;
}

@font-face {
  font-family: 'AppleGothic';
  src:url('../../assets/fonts/appleSDGothicNeo/woff/AppleSDGothicNeoL.woff') format('woff');
  font-weight: 200;
  font-display: block;

}

@font-face {
  font-family: 'AppleGothic';
  src:url('../../assets/fonts/appleSDGothicNeo/woff/AppleSDGothicNeoR.woff') format('woff');
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: 'AppleGothic';
  src:url('../../assets/fonts/appleSDGothicNeo/woff/AppleSDGothicNeoM.woff') format('woff');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'AppleGothic';
  src:url('../../assets/fonts/appleSDGothicNeo/woff/AppleSDGothicNeoSB.woff') format('woff');
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'AppleGothic';
  src: url('../../assets/fonts/appleSDGothicNeo/woff/AppleSDGothicNeoB.woff') format('woff');
  font-weight: 700;
  font-display: block;
}

@font-face{
  font-family:'AppleGothic';
  src:url('../../assets/fonts/appleSDGothicNeo/woff/AppleSDGothicNeoEB.woff') format('woff');
  font-weight: 800;
  font-display: block;
}

@font-face{
  font-family:'AppleGothic';
  src:url('../../assets/fonts/appleSDGothicNeo/woff/AppleSDGothicNeoH.woff') format('woff');
  font-weight: 900;
  font-display: block;
}